<ion-modal-view  ng-init="onLoad()">
  <ion-content scroll="false">
    <br/><br/><br/><br/>

    <ion-slide-box show-pager="true">

      <ion-slide ng-repeat="item in messagelist">
          {{item.nickname}}
          <h1>{{item.messageType.description}}</h1>
      </ion-slide>
      <!--
      <ion-slide ng-repeat="item in data.slides">
          <h1>{{item.title}}</h1>
          <p>{{item.data}}
      </ion-slide>
    -->
    </ion-slide-box>
  </ion-content>
</ion-modal-view>
