<ion-modal-view  ng-init="onLoad()">
  <ion-content scroll="false">
    <br/><br/><br/><br/>
    <ion-slide-box show-pager="true" on-slide-changed="slideHasChanged($index)">
      <ion-slide ng-repeat="item in messagelist">

        <div class="row">
            {{item.nickname}}{{item.messageType.description}}
            <br/><br/><br/><br/><br/>
        </div>

        <div class="row">
            <div class="col col-50">
              <a
                  href="javascript:;"
                  ng-click="reply(item.phone, item.messageType.messageTypeId)"
                  close-menu>
                    <i class="icon ion-email"></i>
              </a>
            </div>
            <div class="col col-50" ng-if="item.isFriend == 0">
              <a
                  href="javascript:;"
                  ng-click="invite(item.nickname, item.phone)"
                  close-menu>
                    <i class="icon ion-person-add"></i>
              </a>
            </div>
        </div>

      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-modal-view>
