<ion-view >
  <ion-nav-buttons side="left">
    <button menu-toggle="left" style="color:white !important;" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" ng-init="onLoad()">

    <ion-refresher
      pulling-text={{message.refresh}}
      on-refresh="onLoad()">
    </ion-refresher>

    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text"
             placeholder="{{message.friendFilter}}"
             ng-model="search">
    </label>

    <ion-list>
      <ion-item class="item card-item item-borderless"  ng-repeat="item in friendslist | filter:search | orderBy: ['-hasHalle', 'name']"> <!--  | filter: {name: search} -->
        <span ng-if="item.id > 1">
          <div class="card stable-bg ink ink-dark">
              <div class="item item-avatar">
                  <span  ng-if="item.photoFriend == null">
                    <img  class="avatar" src="avatar\profile.svg">
                  </span>
                  <span  ng-if="item.photoFriend != null">
                    <img class="avatar" ng-src="data:image/JPEG;base64,{{item.photoFriend}}" >
                  </span>
                    <strong>{{item.name}}</strong>
                  <div class="card-footer text-right">
                      <i class="icon ion-android-download positive"></i> {{ item.messageReceive }}
                      <i class="icon ion-android-upload positive"></i> {{ item.messageSent }}
                      <div class="pull-left" ng-if="item.hasHalle == '1'">
                          <i class="icon ion-paper-airplane" ng-click="sendMessage('{{item.phoneFriend}}', '{{item.tokenPush}}')">&nbsp;&nbsp;{{message.friendSend}}</i>
                      </div>
                      <div class="pull-left" ng-if="item.hasHalle == '0'">
                          <i class="icon ion-email-unread" ng-click="invite('{{item.phoneFriend}}')">&nbsp;&nbsp;{{message.friendInvite}}</i>
                      </div>

                  </div>
              </div>
          </div>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
