<ion-modal-view>
  <ion-content>
    <br/><br/><br/><br/>
    <form ng-submit="onSubmit()">
      <div class="list">

        <span class="error-container" ng-if="sucess">
          <p class="error">
           <i class="ion-information-circled"></i>
           {{ msgSucess }}
         </p>
        </span>

        <span class="error-container" ng-if="error">
          <p class="error">
           <i class="ion-information-circled"></i>
           {{ msgError }}
         </p>
        </span>

        <span class="error-container" ng-if="!online">
          <p class="error">
           <i class="ion-information-circled"></i>
           {{ message.online }}
         </p>
        </span>

        <label class="item item-input item-floating-label label-input">
          <span class="input-label label-input label-login-heigth">{{ message.changePasswordNewPwd }}</span>
          <input type="password"
                 maxlength="8"
                 class="placeholder-input"
                 placeholder="{{ message.changePasswordNewPwd }}"
                 name="password1"
                 ng-model="data.password1">
        </label>
        <label class="item item-input item-floating-label label-input">
        <span class="input-label label-input label-login-heigth">{{ message.changePasswordNewPwd2 }}</span>
          <input type="password"
                 maxlength="8"
                 class="placeholder-input"
                 placeholder="{{ message.changePasswordNewPwd2 }}"
                 name="password2"
                 ng-model="data.password2">
        </label>
        <button class="button button-block button-login"
                type="submit">{{ message.changePasswordSend }}</button>

      </div>
    </form>
  </ion-content>
</ion-modal-view>
