<ion-modal-view>
  <ion-content>
    <br/><br/>
      <div class="title">
        <p>{{message.inviteFriendTitle}}</p>
      </div>
      <br/>
      <div class="subtitle">
        <p>{{message.inviteFriendSubTitle}}</p>
        <p>{{message.inviteFriendSubTitle2}}</p>
        <p>{{message.inviteFriendSubTitle3}}</p>
      </div>

      <div class="list list-inset">
        <div class="item item-icon-left" ng-click="inviteEmail()">
          <i class="icon ion-email"></i>
          {{ message.inviteFriendEmail }}
        </div>
      </div>

      <div class="list list-inset">
        <div class="item item-icon-left" ng-click="inviteWhatsApp()">
          <i class="icon ion-social-whatsapp"></i>
          {{ message.inviteFriendWhatsapp }}
        </div>
      </div>

      <div class="list list-inset">
        <div class="item item-icon-left" ng-click="inviteFacebook()">
          <i class="icon ion-social-facebook"></i>
          {{ message.inviteFriendFacabook }}
        </div>
      </div>


  </ion-content>
</ion-modal-view>
