/* Empty. Add your own CSS if you like */

/******************FONTS**********************/
@font-face {
  font-family: "wmMensch";
  src: url("../fonts/HelveticaNeueLTStd Lt.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/****************** TAGS **********************/
body {
    background-color: white;
}

/******************* H1 *******************/
.h1-terms {
    color: #FFFFFF;
    font-family: verdana;
    font-size: 18px;
    text-align: center;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 500;
    vertical-align: middle;
}


/****************** IMAGES **********************/
.ico_logo {
    width: 170px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/****************** LABEL **********************/
.label-input {
    color:#2b98d5;
    font-size: 20px;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-bottom: 1px solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-family: Helvetica Neue;
}

.label-login-heigth{
    height:30px;
    margin-left: 0;
    border:0;
}

.placeholder-input::-webkit-input-placeholder{
    color:#2b98d5;
    font-size: 20px;
    font-family: Helvetica Neue;
}

.label-forgotpass{
    font-family: Helvetica Neue;
    font-size: 400;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:#2b98d5;
    text-decoration: none;
}

/****************** BUTTON **********************/
.button-login{
  width:100%;
  height: 40px;
  background: #ffffff;
  margin:auto;
  border: 0;
  text-align: center;
  color: #2b98d5;
  font-size: 28px;
  border-left-color: #2b98d5;
}

.button-login-create {
  width:100%;
  height: auto;
  background: #2b98d5;
  margin-top: auto!important;
  margin-bottom: auto!important;
  vertical-align: middle!important;
  position: absolute!important;
  display: block!important;
  border: 0;
  text-align: center;
  color: #ffffff;
  font-family: Helvetica Neue!important;
  font-size: 28px!important;
  font-weight: 500!important;
  padding: 0px;

}
.button-base{
    border-color: transparent;
     box-shadow: none; 
   background: none; 
    font-size: 30px!important;
}
.button-blue{
   color: #2b98d5;"
}
.button-white{
   
    color: #fff;" 
    
}

/****************** LINK **********************/

/****************** FOOTER LOGIN **********************/
.bar-footer-login {
    background-color: #2b98d5;
    vertical-align: middle;
    display: block;
    position: absolute;
    }

/*******************LOADING************************/
.loading-container .loading {
  width:100%;
  height:100%;
  background-color: white;
  text-align: center;
  color: #2b98d5;
  font-size: 12;
  display: inline-block;
}

/*******************MENU******************************/
.h1-menu {
    color: #FFFFFF;
    font-family: verdana;
    font-size: 18px;
    text-align: center;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 500;
    vertical-align: middle;
}

.text-menu{
    color:#2b98d5;
    font-family: Helvetica Neue;
}


/****************CARD ********************************/
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    color:#2b98d5;
    text-align: center;
    font-family: Helvetica Neue;
    font-size: 24px;
    font-weight: 400;
}

/****************AVATAR*******************************/
.align-avatar-photo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: center;
}

.align-avatar{
    text-align: center;
    padding-left: 32px;
}

.align-avatar-txt-profile{
    text-align: center;
}

.bgcolor-avatar{
    background: #88d0f7;
}

/******************* SLIDE ****************************/
.slider {
  margin: 0 auto;
  height: 400px;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  color:#2b98d5;
  text-align: center;
  font-family: Helvetica Neue;
  font-size: 12px;

}
.slider-slide {
  padding-top: 40px;
  line-height: 1.5;
  font-size:26px;
  color:#2b98d5;
  text-align: center;
  font-family:Helvetica Neue;
}

.icon-message {
  font-size:20px;
  color:#2b98d5;
  text-align: center;
  font-family:Helvetica Neue;
}

/********************MESSAGE ERROR/SUCCESS*****************************/
.error-container {
  margin: 5px 0;
}
.error-container:last-child {
    margin: 10px 0 0;
}
.error {
  padding: 10px 55px;
  font-family: "helvetica Neue";
  font-size: 12px;
  color: #555;
  vertical-align: middle;
}
.error i {
  font-size: 24px;
  color: #B83E2C;
  vertical-align: middle;
}
.last-error-container > .error {
  padding: 10px 16px 0;
}

.success-container {
  margin: 5px 0;
}
.success-container:last-child {
    margin: 10px 0 0;
}
.success {
  padding: 10px 55px;
  font-family: "helvetica Neue";
  font-size: 12px;
  color: #555;
  vertical-align: middle;
}
.success i {
  font-size: 24px;
  color: #0000ff;
  vertical-align: middle;
}
.last-error-container > .error {
  padding: 10px 16px 0;
}
