<ion-view>

  <ion-header-bar class="bar-positive">
    <div class="buttons">
      <a class="button icon-left ion-chevron-left button-clear button-white" ng-click="voltar();">Voltar</a>
    </div>
    <h1 class="title">{{ message.forgotTitle}}</h1>
  </ion-header-bar>

  <ion-content ng-controller="forgotController">

      <br/><br/>
      <form name="forgotForm">
        <div class="list">
          <div class="list">

            <span class="error-container" ng-if="error">
              <p class="error">
               <i class="ion-information-circled"></i>
               {{ msgError }}
             </p>
            </span>

            <span class="error-container" ng-if="!online">
              <p class="error">
               <i class="ion-information-circled"></i>
               {{ message.online }}
             </p>
            </span>

          <label class="item item-input item-floating-label label-input">
            <span class="input-label label-input label-login-heigth">{{ message.forgotLogin }}</span>
            <input type="text"
                   maxlength="50"
                   class="placeholder-input"
                   placeholder="{{ message.forgotLogin }}"
                   name="login"
                   ng-model="login">
          </label>

          <label class="item item-input item-floating-label label-input">
            <span class="input-label label-input label-login-heigth">{{ message.forgotPhone }}</span>
            <intlpn ng-model="phone"
                    style="border:0"
                    placeholder="(99) 9999-9999"
                    default-country="br"></intlpn>
          </label>

          <button class="button button-block button-login"
                  ng-click="submit(login, phone)">{{ message.forgotBtnEnter }}</button>
        </div>
      </form>
    </ion-content>
</ion-view>
