
/* card-activity
==================================*/

.card-item.item {
  border: none;
  padding-bottom: 0px;
  padding-top: 0px;
}

.card .item.item-avatar {
  min-height: 88px;
  padding-left: 88px; 
  text-align: left;
}

.card .card-footer {
  font-size: 90%;
  opacity: 0.8;
  filter: alpha(opacity=80);
  padding-top: 10px; }

/* List: Avatar
==================================*/
.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
  border-radius: 50%;
  left: 16px;
  max-height: 40px;
  max-width: 40px;
}

.avatar, .item-avatar .avatar {
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid #2b98d5;
  display: inline-block;
  height: 60px;
  left: 16px;
  position: absolute;
  width: 60px;

}



/* Utilities
==================================*/
.bold {
  font-weight: bold; }

.static {
  position: static; }

.pull-left {
  float: left; }

.platform-ios.platform-cordova:not(.fullscreen) .bar-header
{
  height: 44px !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)
{
  height: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper
{
  margin-top: 0px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > *
{
  margin-top: 0px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .tabs-top > .tabs, .platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top
{
  top: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader
{
  top: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-subheader {
  top: 88px !important;
}