<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <ion-header-bar class="navbar-color">
      <h1 class="h1-terms">Menu</h1>
    </ion-header-bar>
    <ion-content class="has-header">
      <ion-list>
        <!--
        <ion-item menu-close class="text-menu" ng-click="showInvite()">
          {{  message.homeMenuInvite }}
        </ion-item>
        -->
        <ion-item menu-close class="text-menu" href="#/home/invitePhone">
          {{  message.homeMenuInvitePhone }}
        </ion-item>
        <ion-item menu-close class="text-menu" href="#/home/editProfile">
          {{  message.homeMenuProfile }}
        </ion-item>
        <ion-item menu-close  class="text-menu" href="#/home/changePassword">
          {{  message.homeMenuChangePwd }}
        </ion-item>
        <ion-item menu-close class="text-menu" href="#/home/feedback">
          {{  message.homeMenuFeedback }}
        </ion-item>
        <ion-item menu-close  class="text-menu" ng-click="showDelete()">
          {{  message.homeMenuDeleteCount }}
        </ion-item>
        <ion-item menu-close  class="text-menu" ng-click="showExit()">
          {{  message.homeMenuSair }}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
