<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-positive">
      <h1 class="title">{{ homeMenu }}</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item menu-close class="text-menu" ng-click="showInvite()">
          {{  message.homeMenuInvite }}
        </ion-item>
        <ion-item menu-close class="text-menu" ng-click="showInvitePhone()">
          {{  message.homeMenuInvitePhone }}
        </ion-item>
        <ion-item menu-close class="text-menu">
          {{  message.homeMenuProfile }}
        </ion-item>
        <ion-item menu-close  class="text-menu" ng-click="showChangePassword()">
          {{  message.homeMenuChangePwd }}
        </ion-item>
        <ion-item menu-close  class="text-menu">
          {{  message.homeMenuChangePhone }}
        </ion-item>
        <ion-item menu-close class="text-menu">
          {{  message.homeMenuForgotPwd }}
        </ion-item>
        <ion-item menu-close class="text-menu">
          {{  message.homeMenuFeedback }}
        </ion-item>
        <ion-item menu-close  class="text-menu" ng-click="showExit()">
          {{  message.homeMenuSair }}
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
