/******************* PROFILE ****************************/

@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
.snip1336 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  float:left;
  overflow: auto;
  margin-left: 0;
  margin-right: 0;
  min-width: 230px;

  width: 100%;
  height: 100%;
  color: #2b98d5; // ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #ffffff; //2b98d5;
}
.h2-menu {
    color: #2b98d5; //FFFFFF;
    font-family: Helvetica Neue;
    font-size: 28px;
    text-align: left;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 600;
    vertical-align: middle;
}

.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1336 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}
.snip1336 figcaption {
  width: 100%;
  background-color: #ffffff; //2b98d5;
  padding: 25px;
  position: relative;
}
.snip1336 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #ffffff;//2b98d5;
}
.snip1336 figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.snip1336 .follow {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
.snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 300;
}
.snip1336 h2 span {
  display: block;
  font-size: 0.5em;
  color: #FFFFFF; //2980b9;
}
.snip1336 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}

.card-profile {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    color:#2b98d5;
}
.align-profile{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.label-input-prof {
    color:#FFFFFF;
    font-size: 20px;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-bottom: 1px solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font-family: Helvetica Neue;
}

.label-login-heigth-prof{
    height:30px;
    margin-left: 0;
    border:0;
}

.placeholder-input-prof::-webkit-input-placeholder{
    color:#FFFFFF;
    font-size: 20px;
    font-family: Helvetica Neue;
}
