<ion-modal-view>
  <ion-content>
    <br/><br/><br/><br/><br/><br/>
    <form ng-submit="onSubmit()">
      <div class="list">

        <span class="success-container" ng-if="Success">
          <p class="success">
           <i class="ion-information-circled"></i>
           {{ msgSuccess }}
         </p>
        </span>

        <span class="error-container" ng-if="error">
          <p class="error">
           <i class="ion-information-circled"></i>
           {{ msgError }}
         </p>
        </span>

        <span class="error-container" ng-if="!online">
          <p class="error">
           <i class="ion-information-circled"></i>
           {{ message.online }}
         </p>
        </span>

        <label class="item item-input item-floating-label label-input">
          <span class="input-label label-input label-login-heigth">{{ message.editProfileName }}</span>
          <input type="text"
                 maxlength="100"
                 class="placeholder-input"
                 placeholder="{{ message.editProfileName }}"
                 name="name"
                 ng-model="data.name">
        </label>


        <label class="item item-input item-floating-label label-input">
          <span class="input-label label-input label-login-heigth">{{ message.inviteContactsPhone }}</span>
          <intlpn ng-model="data.phone"
                  style="border:0"
                  placeholder="(99) 9999-9999"
                  default-country="br"></intlpn>
        </label>


        <button class="button button-block button-login"
                type="submit">{{ message.inviteContactsSend }}</button>

      </div>
    </form>
  </ion-content>
</ion-modal-view>
